.gradle
/build/
*/out/
!gradle/wrapper/gradle-wrapper.jar
/notification-infos

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
target/

### NetBeans ###
/nbproject/private/
/nbbuild/
/thread-dumps/
/dist/
/nbdist/
/.nb-gradle/

**application-localdev.properties
deploy/configmap.yml
deploy/config.properties
/deploy/config.env
/credentials
/release
